In [10]:
import pandas as pd
import numpy as np
import pymysql 
from sqlalchemy import create_engine 
from getpass import getpass
from scipy.stats import ttest_1samp

In [2]:
password = getpass()

········

In [4]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/lifestyle_sql'
engine = create_engine(connection_string)

In [8]:
query = 'SELECT * FROM lifestyle'
data = pd.read_sql_query(query, engine)
data.head()

,gender,age,characteristics_people,year,smokers,ex_smokers,never_smoked,drinker,ex_drinker,never_drank,heavy_drinker,max_1_glass_per_day,underweight,normal_weight,overweight,sufficient_moderate_intensive-effort,7_days_per_week_sufficient_fruit,7_days_per_week_sufficient_veg
0,all,all,all,2014,24.4,29.3,46.3,77.2,11.2,11.6,11.8,41.0,2.1,54.8,43.1,0.0,27.4,29.3
1,all,all,all,2016,22.2,30.0,47.9,76.0,11.4,12.6,11.1,42.9,2.3,54.5,43.2,51.8,29.6,19.3
2,all,all,all,2018,20.7,30.4,48.9,75.8,11.2,13.0,11.0,43.8,2.3,53.7,44.0,53.4,29.3,20.2
3,all,all,ed. lv 1,2014,28.5,37.4,34.1,70.1,16.4,13.5,10.9,49.9,1.2,38.5,60.4,0.0,31.5,26.7
4,all,all,ed. lv 1,2016,27.1,37.6,35.3,68.0,17.7,14.3,11.4,52.9,1.4,36.3,62.3,42.5,32.1,12.9

In [9]:
data.shape

(507, 18)

Hypothesis young men (<65) in the lowest income group drink more than men >65

In [12]:
H0 = data[data['gender']=='male']
H0 = H0[(H0['age']=='<25') |(H0['age']=='25-45') | (H0['age']=='45-65')]
H0 = H0[H0['characteristics_people']=='inco 1st 20%']
H0

,gender,age,characteristics_people,year,smokers,ex_smokers,never_smoked,drinker,ex_drinker,never_drank,heavy_drinker,max_1_glass_per_day,underweight,normal_weight,overweight,sufficient_moderate_intensive-effort,7_days_per_week_sufficient_fruit,7_days_per_week_sufficient_veg
216,male,<25,inco 1st 20%,2014,32.0,5.8,62.2,64.7,11.3,24.0,28.1,43.0,4.7,76.6,18.7,0.0,19.6,31.0
217,male,<25,inco 1st 20%,2016,26.5,5.3,68.2,61.4,9.4,29.1,25.7,44.5,4.2,77.2,18.6,56.7,26.4,26.5
218,male,<25,inco 1st 20%,2018,22.8,7.5,69.7,58.2,7.4,34.4,26.5,51.5,5.7,72.2,22.1,54.5,28.7,27.7
249,male,25-45,inco 1st 20%,2014,48.4,15.4,36.2,82.0,10.6,7.4,12.4,31.4,2.7,50.7,46.6,0.0,14.8,25.1
250,male,25-45,inco 1st 20%,2016,43.5,15.4,41.1,72.2,15.0,12.8,17.6,40.3,4.0,52.1,43.9,52.2,24.1,22.0
251,male,25-45,inco 1st 20%,2018,42.1,18.5,39.3,72.6,12.9,14.5,13.0,40.4,1.7,45.3,53.0,57.0,24.8,19.0
284,male,45-65,inco 1st 20%,2014,45.7,27.7,26.6,73.3,16.3,10.4,13.5,43.2,1.5,32.6,65.8,0.0,20.2,25.1
285,male,45-65,inco 1st 20%,2016,45.5,27.6,26.8,71.9,17.4,10.8,16.8,45.0,0.4,42.7,56.8,40.6,21.4,22.3
286,male,45-65,inco 1st 20%,2018,51.3,24.8,23.9,58.9,22.3,18.7,18.5,53.9,0.7,37.2,62.1,41.1,20.4,18.3

In [13]:
H1 = data[data['gender']=='male']
H1 = H1[H1['age']=='>65']
H1 = H1[H1['characteristics_people']=='inco 1st 20%']
H1

,gender,age,characteristics_people,year,smokers,ex_smokers,never_smoked,drinker,ex_drinker,never_drank,heavy_drinker,max_1_glass_per_day,underweight,normal_weight,overweight,sufficient_moderate_intensive-effort,7_days_per_week_sufficient_fruit,7_days_per_week_sufficient_veg
319,male,>65,inco 1st 20%,2014,20.4,63.4,16.1,78.7,13.5,7.9,0.0,44.4,0.0,0.0,0.0,0.0,35.0,36.3
320,male,>65,inco 1st 20%,2016,28.3,56.3,15.4,58.0,27.1,14.8,0.0,57.5,0.0,41.6,58.4,31.2,34.9,13.4
321,male,>65,inco 1st 20%,2018,20.8,51.8,27.4,75.5,17.5,7.0,9.0,50.4,1.6,36.5,62.0,36.2,32.9,21.4

In [16]:
H0_mean = H0['drinker'].mean()

In [17]:
stat, pval = ttest_1samp(H1['drinker'], H0_mean)

In [18]:
print('stat is  ', stat)
print('pvalue for the one-tailed test is ', pval/2)

stat is   0.36960276338514714
pvalue for the one-tailed test is  0.373572086235961

the p value is above 0.05 so I have to reject my hypothesis